__pycache__/
*.pyc
.venv/
env/
venv/
.env

# Large data files
data/processed/entsoe_generation/generation_per_plant_11_years.csv
data/processed/grid_telemetry/demand_regional_disaggregated.csv
*.csv

# Only keep the small summary datasets or sample files if needed
# (Github limit is 100MB, generation file is 338MB)

# Temp files
.DS_Store
